parameters:
    level: 7
    paths:
        - src
        - test
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false

includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
