<?xml version="1.0"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="./vendor/autoload.php"
    colors="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutChangesToGlobalState="true"
    failOnNotice="true"
    failOnWarning="true"
    failOnPhpunitDeprecation="true"
    failOnDeprecation="true"
    failOnEmptyTestSuite="true"
>
  <source ignoreIndirectDeprecations="true">
    <include>
      <directory>src</directory>
    </include>
  </source>

  <testsuite name="DoctrineBatchUtils tests">
    <directory>./test/DoctrineBatchUtilsTest</directory>
  </testsuite>
</phpunit>
